<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio6</title>
</head>
<body>
    <h1>EJERCICIO 6: CALIFICACIÓN</h1>
    <p class="text">Este ejercicio consiste en analizar la situación de un alumno desaprobado  con una nota de 10.5 y busca subir su nota pidiendole al profesor que le aumente medio punto por cada participación durante todo el ciclo</p><br>
    <p> p=float(10.5)</p>
    <p>n=5</p>
    <p>while p ≤ 10,5 :</p>
    <p id="p"> p = p + 0.5*n </p><br>
    <p>El valor de la nota final del alumno es: {{valor}} </p> 
    <style>
        body{
            background-color: coral;
            font-family: 'Courier New', Courier, monospace;
        }
        #p{
            padding-left: 15px;
        }
        h1{
            padding-top: 30px;
            text-align: center;
            padding-bottom: 30px;
        }
        .text{
            padding-right: 250px;
        }
        p{
            font-size: 24px;
        }
    </style>
</body>
</html>