<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio3</title>
</head>
<body>
    <h1>EJERCICIO 3: ELEMENTO ALEATORIO</h1>
    <p>Se solicita que de la lista se pueda escoger un elemento aleatorio usando la estructura for</p>
    <p class="for">a=["Enero","Febrero","Abril","Mayo","Junio","Julio","Agosto","Setiembre","Octubre","Noviembre","Diciembre"]</p>
    <p class="for">for i in [a]:</p>
    <p class="random">a=random.choice(i)</p> 
    <p>El mes que se brinda aleatoriamente es: {{valor}}</p>
<style>
    body{
        background-color: rgb(177, 102, 102);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
    }
    h1{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    p{
        font-size: 23px;
    }
    .for{
        padding-left: 25px;
    }
    .random{
        padding-left: 45px;
    }
</style>
</body>
</html>