<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio15</title>
</head>
<body>
    <h1>EJERCICIO 15: SUma de números Consecutivos</h1>
    <h4>Calcule la suma de los 7 primeros números naturales</h4>
    <p>x=0<br>
       cont=0<br>
       while True:</p>
     <p class="while">x=x+1<br>
                      cont+=x<br>
                      if x==7:</p>
                <p class="if">break</p>
    <p>La suma de los 7 primeros números es: {{valor}}</p>
    <style>
       body{
        background-color: black;
        color: white;
       }
       h1{
        text-transform: uppercase;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
       }
       .while{
        padding-left: 25px;
       }
       .if{
        padding-left:45px;
       }
        /* fondo: negro
            color: blanco
            titulo: mayuscula y centrado
            separación 15-15
            separación2: 25-45

            */
       
    </style>
</body>
</html>